body {
    background-color: #313131;
}

.input {
    position: sticky;
    top: 8px;
    padding: 5px 10px;
    background-color: #8787877f;
}

#images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    list-style: none;

    li {
        aspect-ratio: 1;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &.is-sensitive {
            transition: filter .5s linear;
            filter: blur(20px);

            &:hover {
                filter: none;
            }
        }
    }
}